/* Base Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s ease;
    color: black;
}

body.dark-mode {
    background-color: #333;
    color: white;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: black;
    transition: color 0.3s ease;
}

body.dark-mode h1 {
    color: white;
}

#timer-container {
    text-align: center;
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

body.dark-mode #timer-container {
    background-color: #444;
}

#timer-display {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 600;
}

#progress-bar-container {
    width: 100%;
    height: 10px;
    background-color: #666;
    margin-bottom: 20px;
    border-radius: 5px;
}

body.dark-mode #progress-bar-container {
    background-color: #888;
}

#completed {
    height: 100%;
    width: 0;
    background-color: #4caf50; /* Green */
    border-radius: 5px;
}

button {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#session-count {
    margin-top: 15px;
    font-size: 1rem;
}

#dark-mode-toggle {
    margin-top: 20px;
    font-size: 1rem;
    background-color: #333;
    color: white;
}

#dark-mode-toggle:hover {
    background-color: #555;
}
